/.settings
/.buildpath
/.project
/create_phar.bat
/install.bat
/composer.lock
/vendor
/.idea
/web/.htaccess
/web/favicon.ico
/web/backend/favicon.ico
/web/api/favicon.ico
*-local.php
*.htaccess
.htaccess
